
.div-popup {
    display: flex;
}
.image-popup{
    width: 120px;
    border-radius: 8px;
}

.h5-popup {
    font-family: 'antonsc-regular', sans-serif;
    font-size: 1rem;
}

.p-popup {
    font-family: 'lora-regular', sans-serif; 
    font-size: 0.8rem;
}
