@font-face {
    font-family: 'antonsc-regular';
    src: url('../fonts/AntonSC-Regular.woff2') format('woff2'),
         url('../fonts/AntonSC-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'lora-regular';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
         url('../fonts/Lora-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
/*  font-family: 'antonsc-regular', sans-serif; */
/*  font-family: 'lora-regular', sans-serif; */
